<p>Find me in app/views/ebay/get_product.html.erb</p>

<%= form_tag add_item_path do %>
  <%= text_field_tag :url %>
  <%= submit_tag "Scrape", class: "btn" %>
<% end %>

<% if @description %>
  <%= @description.to_s.html_safe %>
<% end %>


